@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "base";


/* --------------------------------------Projects container = div*5-------------------------------- */

.projects {
  color: $primary;
  margin-top: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
  position: absolute;
  height: 100vh; /* TO FIX IT!! */

  div {
    margin-bottom: 10rem;

    h1 {
      color: $secondary;
      font-size: 10rem;
      font-weight: 600;
      
    }
    .last-made-projects {
      color: #19dae7;
      font-size: 10rem;
      font-weight: 600;
    }
    h6 {
      color: $danger;
      font-size: 2rem;
      margin-top: 20px;
    }
  }
}


