@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "base";
@import "helloAbout";
@import "iamWork";
@import "alexContact";

/*--------------------------------STYLES APPLIED TO ALL PAGES------------------------------*/

body {
  background-color: $primary;
}

.navAlexandra {
  top: 0px;
  width: 100%;
  height: 30px;
  position: fixed;
  margin-top: 100px;

  .alexandra {
    display: block;
    margin: 0;
    padding: 0;
    color: $secondary;
    font-size: 2rem;
    float: right;
    padding-right: 10%;
  }
}

h1 {
  color: $secondary;
  font-size: 13rem;
  font-weight: 600;
}

a {
  color: $danger;
  text-decoration: none;
}

li {
  list-style: none;
}

/* --------------------------------HELLO IAM ALEXANDRA BLOCK-------------------------------------*/

.mainPage {
  /* Page container = text container + image */
  display: flex;
  flex-direction: row;

  .mainText {
    /* Text container = hello + iam + alexandra*/
    color: $primary;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 18rem;
    font-weight: 560;
    line-height: 1em;
    letter-spacing: -1rem;
    position: absolute;

    .hello {
      /* HELLO */
      color: $secondary;
      position: fixed;

      a {
        color: $secondary;
        position: absolute;
        animation: myAnim 1s normal;
      }
    }}}

    .iam {
      /* I AM */
      color: $secondary;
      position: fixed;
      top: 350px;

      a {
        white-space: nowrap;
        position: absolute;
        animation: myAnim 1s 1s normal;
        text-decoration: none;
        color: $secondary;
      }
    }

    .name {
      /* ALEXANDRA */
      color: $secondary;
      position: fixed;
      top: 550px;

      a {
        position: absolute;

        text-decoration: none;
        animation: myAnim 1s 2s normal;
        color: $secondary;
      }
    }

    /* --------------------------------ANIMATION FOR HELLO IAM ALEXANDRA-----------------------------------------------------*/

    @keyframes myAnim {
      0% {
        color: $secondary;
        animation-timing-function: linear;
        transform: translateY(90px);
      }

      25%,
      50% {
        color: $danger;
      }

      100% {
        color: $danger;
        animation-timing-function: linear;
        transform: translateY(0px);
      }
    }
  

/* ------------------------------------------------PHOTO-------------------------------------------------------------------*/

.photoContainer {
  z-index: -9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
  background-image: url("../img/AlexandraMaintest.png");
  background-repeat: no-repeat;
}

/*--------------------------------------------PHONES & TABLETS -------------------------------------------------------------*/
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .mainPhoto {
    max-width: 90%;
    height: 900px;
    margin-right: 10%;
    margin-top: -10%;
  }
    .mainText {
      div {
        font-size: 50px;
        font-weight: 560;
        line-height: 5px;
        letter-spacing: 1rem;
        margin-bottom: 3px;
      }
  }
}
/*------------------------------------------- LAPTOPS&BIG SCREENS ----------------------------------------------------------*/
  /* Medium devices (landscape tablets, 768px and up) */

  @media only screen and (min-width: 768px) {
    .mainPhoto {
      width: 90%;
      height: 100%;
      margin-left: 10%;
      margin-top: -10%;
      /* border: 1px solid blue; */
    }
    .mainText {
      div {
        font-size: 50px;
        font-weight: 560;
        line-height: 5px;
        letter-spacing: 1rem;
        margin-bottom: 3px;
      }
   
    }
  }
