// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
 body{
	/* border: 1px solid green; */
	background-color: $primary;	
 }

 section{
	border: 1px solid red;
	font-size: 10rem;
	color: $danger;
	letter-spacing: -0.5rem;
	font-weight: 530;
}

img{
	width: 300px;
	height: 200px;
	background-color: transparent;
	object-position: 0 0;
	border-color: 3px solid aquamarine;
}
 
.hello{
	/* border: 1px solid yellowgreen; */
	color: $secondary;
 }