
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "base";
@import "helloAbout";
@import "iamWork";
@import "alexContact";

body{
  background-color: $primary;
}

h1{
  color: $secondary;
  
  position: absolute;
  top:25%;
  left: 25%;
  right: 20%;
  font-size: 13rem;
  font-weight: 600;

}

.mainPage {
  display: flex;
  flex-direction: row;

  .mainText {
    color: $primary;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 18rem;
    font-weight: 560;
    line-height: 1em;
    letter-spacing: -1rem;
    position: absolute;

    .hello {
      color: $secondary;
      position: fixed;
      

      a {
        color: $secondary;
        position: absolute;
        text-decoration: none;
        animation: myAnim 2s normal;
       
      }
    }

    .iam {
      color: $primary;
      position: fixed;
      top: 350px;
      

      a {
        white-space: nowrap;
        position:absolute;
        animation: myAnim 2s 1s normal;
        text-decoration: none;
        color: $primary;
      }
    }

    .name {
      color: $primary;
      position: fixed;
      top: 550px;
    

      a {
        position: absolute;
        
        text-decoration: none;
        animation: myAnim 2s 3s normal;
        color: $primary;
      }
    }


    @keyframes myAnim {
      0% {
        color: $primary;
        animation-timing-function: linear;
        transform: translateY(90px);
      }
    
      25%, 50% {
        color: $danger;
    }

      100% {
        color: $danger;
        animation-timing-function: linear;
        transform: translateY(0px);
      }
    }
  }
}

.mainPhoto {
  max-width: 90%;
  max-height: 90%;
  margin-left: 10%;
  margin-top: -10%;
  /* 	border: 1px solid blue; */
}

